body{
    background-color:lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header_logo {
    background-color:rgb(147, 136, 214);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}
.header_navbar{
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
a {
    list-style: none;
    color: black;
}
.header_navbar_item:hover, a:hover{
    scale: 1.2;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    color: white;
    transition: all 0.4s ease-in-out;
}
.link:hover{
    scale: 1.2;
    color: purple;
    transition: all 0.4s ease-in-out;
}
.section1 {
    text-align: left;
    border: 2px solid black;
    margin: 20px;
    background-color:aquamarine;
    padding: 30px;
    position: relative;
}
.section2 {
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    margin: 60px;
    background-color:cadetblue;
    padding-left: 20px;
    position: relative;
}
.section3 {
    font-weight: bold;
    text-align: center;
}
.info:hover{
    font-weight: bold;
    text-align: center;
    scale: 1.2;
    color: blue;
    transition: all 0.4s ease-in-out;
}
main{
    margin: 30px;
}